.starProduct{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 1vmax auto;
   border: rgb(21, 6, 5);
}

.starProduct>div:last-child{
 
  display: flex;
  
  flex-wrap: wrap;
  width: 48%;
  
}

.starProduct img {
    transition: 0.5s;
}

.starProduct  img:hover {
    box-shadow: 6px 6px 15px rgba(7, 5, 5, 0.5);
}
